In [1]:
import pandas as pd

In [2]:
census_df = pd.read_csv('NDAP_REPORT_6000.csv')

In [3]:
census_df

,ROWID,Country,State lgd code,State,District lgd code,District,Sub-District lgd Code,Sub-District,ULB_RLB_Village lgd Code,ULB_RLB_Village,...,Number of female marginal workers in household industry who worked for 0 to 3 months,Number of marginal workers as Other workers who worked for 0 to 3 months,Number of male marginal workers as Other workers who worked for 0 to 3 months,Number of female marginal workers as Other workers who worked for 0 to 3 months,Number of Non workers,Number of male Non workers,Number of female Non workers,Source Year,YearCode,Year
0,585,India,24,GUJARAT,442,BHARUCH,999999,Unknown SubDistricts of India,9802612,Valia (Naldhari) (INA),...,0,0,0,0,0,0,0,2011,2011,"Calendar Year (Jan - Dec), 2011"
1,637,India,24,GUJARAT,459,SURAT,3937,Majura,802631,Surat,...,0,0,0,0,0,0,0,2011,2011,"Calendar Year (Jan - Dec), 2011"
2,1498,India,21,ODISHA,350,CUTTACK,2954,Choudwar,399316,Industrial Area (OG),...,0,0,0,0,1,1,0,2011,2011,"Calendar Year (Jan - Dec), 2011"
3,2062,India,5,UTTARAKHAND,54,RUDRA PRAYAG,290,Ukhimath,800296,Kedarnath,...,0,0,0,0,8,8,0,2011,2011,"Calendar Year (Jan - Dec), 2011"
4,4150,India,1,JAMMU AND KASHMIR,3,BARAMULLA,39,Tangmarg,800009,Municipal Committee Gulmarg Tangmarg,...,0,0,0,0,3,1,2,2011,2011,"Calendar Year (Jan - Dec), 2011"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606673,550918,India,36,TELANGANA,698,VIKARABAD,4539,Kulkacharla,574602,Mujahidpur,...,1,10,5,5,2739,1488,1251,2011,2011,"Calendar Year (Jan - Dec), 2011"
606674,279202,India,36,TELANGANA,698,VIKARABAD,4541,Pudur,574685,Sirgaipalle,...,0,0,0,0,477,247,230,2011,2011,"Calendar Year (Jan - Dec), 2011"
606675,45447,India,36,TELANGANA,699,KUMURAM BHEEM ASIFABAD,4318,Kagaznagar,569470,Jambuga,...,0,0,0,0,47,20,27,2011,2011,"Calendar Year (Jan - Dec), 2011"
606676,122623,India,37,LADAKH,6,KARGIL,15,Zanskar,1066,Hamiling,...,0,0,0,0,136,56,80,2011,2011,"Calendar Year (Jan - Dec), 2011"
606677,206923,India,37,LADAKH,9,LEH LADAKH,10,Leh,857,Nang,...,0,0,0,0,239,88,151,2011,2011,"Calendar Year (Jan - Dec), 2011"

In [4]:
census_df.columns

Index(['ROWID', 'Country', 'State lgd code', 'State', 'District lgd code',
       'District', 'Sub-District lgd Code', 'Sub-District',
       'ULB_RLB_Village lgd Code', 'ULB_RLB_Village', 'Rural or Urban',
       'Households', 'Population', 'Male population', 'Female population',
       'Population in the age group 0 to 6 years',
       'Male Population in the age group 0 to 6 years',
       'Female Population in the age group 0 to 6 years',
       'Scheduled Caste population', 'Male Scheduled Caste population',
       'Female Scheduled Caste population ', 'Scheduled Tribe population',
       'Male Scheduled Tribe population', 'Female Scheduled Tribe population ',
       'Literate population ', 'Male literate population',
       'Female literate population ', 'Illiterate population',
       'Male illiterate population ', 'Female illiterate population ',
       'Working population', 'Male working population',
       'Female Woking population', 'Number of main workers',
       'Number of male main workers', 'Number of female main worker',
       'Number of main workers as cultivators',
       'Number of male main workers as cultivators',
       'Number of female main workers as cultivators',
       'Number of main workers as agricultural labourers',
       'Number of male main workers as agricultural labourers',
       'Number of female main workers as agricultural labourers',
       'Number of main workers in the household industry',
       'Number of male main workers in the household industry',
       'Number of female main workers in the household industry',
       'Number of  main workers as Other workers',
       'Number of male main workers as Other workers',
       'Number of female main workers as Other workers',
       'Number of marginal workers', 'Number of male marginal workers',
       'Number of female marginal workers',
       'Number of marginal workers as cultivators',
       'Number of male marginal workers as cultivators',
       'Number of female marginal workers as cultivators',
       'Number of marginal workers as agricultural labourers',
       'Number of male marginal workers as agricultural labourers',
       'Number of female marginal workers as agricultural labourers',
       'Number of marginal workers in the household industry',
       'Number of male marginal workers in the household industry',
       'Number of female marginal workers in the household industry',
       'Number of marginal workers as Other workers',
       'Number of male marginal workers as Other workers',
       'Number of female marginal workers as Other workers',
       'Number of marginal workers  who worked for 3 to 6 months',
       'Number of male marginal workers  who worked for  3 to 6 months',
       'Number of female marginal workers who worked for  3 to 6 months',
       'Total Number of marginal workers as cultivators who worked for 3 to 6 months',
       'Number of male marginal workers as cultivators who worked for 3 to 6 months',
       'Number of female marginal workers as cultivators who worked for 3 to 6 months',
       'Number of marginal workers as agricultural labour who worked for 3 to 6 months',
       'Number of male marginal workers as agricultural labour who worked for 3 to 6 months',
       'Number of female marginal workers as agricultural labour who worked for 3 to 6 months',
       'Number of  marginal workers in household industry who worked for 3 to 6 months',
       'Number of male marginal workers in household industry who worked for 3 to 6 months',
       'Number of female marginal workers in household industry who  worked for 3 to 6 months',
       'Number of marginal workers as Other workers who worked for 3 to 6 months',
       'Number of male marginal workers as Other workers who worked for 3 to 6 months',
       'Number of female marginal workers as Other workers who worked for 3 to 6 months',
       'Number of marginal workers  who worked for 0 to 3 months',
       'Number of male marginal workers  who worked for 0 to 3 months',
       'Number of female marginal workers  who worked for 0 to 3 months',
       'Number of marginal workers as cultivators who worked for 0 to 3 months',
       'Number of male marginal workers as cultivators who worked for 0 to 3 months',
       'Number of female marginal workers as cultivators who worked for 0 to 3 months',
       'Total nuumber of marginal workers as agricultural labour who worked for 0 to 3 months',
       'Number of male marginal workers in agricultural labour who  worked for 0 to 3 months',
       'Number of female marginal workers as agricultural labour who worked for 0 to 3 months',
       'Number of marginal workers in household industry who worked for 0 to 3 months',
       'Number of male marginal workers in household industry who  worked for 0 to 3 months',
       'Number of female marginal workers in household industry who  worked for 0 to 3 months',
       'Number of marginal workers as Other workers who worked for 0 to 3 months',
       'Number of male marginal workers as Other workers who worked for 0 to 3 months',
       'Number of female marginal workers as Other workers who worked for 0 to 3 months',
       'Number of Non workers', 'Number of male Non workers',
       'Number of female Non workers', 'Source Year', 'YearCode', 'Year'],
      dtype='object')

In [5]:
literacy_state_df = census_df.groupby('State')[['Population', 'Male population', 'Female population', 'Literate population ', 'Male literate population', 'Female literate population ']].sum()

In [6]:
literacy_state_df

,Population,Male population,Female population,Literate population,Male literate population,Female literate population
State,,,,,,
ANDAMAN AND NICOBAR ISLANDS,380581,202871,177710,294281,164377,129904
ANDHRA PRADESH,49577103,24830513,24746590,29859982,16549514,13310468
ARUNACHAL PRADESH,1383727,713912,669815,766005,439868,326137
ASSAM,31205576,15939443,15266133,19177977,10568639,8609338
BIHAR,104099452,54278157,49821295,52504553,31608023,20896530
CHANDIGARH,1055450,580663,474787,805438,465346,340092
CHHATTISGARH,25545198,12832895,12712303,15379922,8807893,6572029
DELHI,16787941,8987326,7800615,12737767,7194856,5542911
GOA,1458545,739140,719405,1165487,615823,549664
GUJARAT,60443083,31492973,28950110,41095674,23476246,17619428
HARYANA,25351462,13494734,11856728,16598988,9794067,6804921
HIMACHAL PRADESH,6864602,3481873,3382729,5039736,2752590,2287146
JAMMU AND KASHMIR,12267013,6483906,5783107,6887227,4145536,2741691
JHARKHAND,32988134,16930315,16057819,18328069,10882519,7445550
KARNATAKA,61095297,30966657,30128640,40647322,22508471,18138851
KERALA,33406061,16027412,17378649,28135824,13704903,14430921
LADAKH,274289,156756,117533,180006,119135,60871
LAKSHADWEEP,64473,33123,31350,52553,28023,24530
MADHYA PRADESH,72641665,37620144,35021521,42861652,25180344,17681308
MAHARASHTRA,112374333,58243056,54131277,81554290,45257584,36296706
MANIPUR,2855794,1438586,1417208,1908476,1039858,868618
MEGHALAYA,2966889,1491832,1475057,1785005,913879,871126
MIZORAM,1097206,555339,541867,848175,438529,409646
NAGALAND,1978502,1024649,953853,1342434,723957,618477
ODISHA,41980846,21215646,20765200,26747327,15092454,11654873
PUDUCHERRY,1247953,612511,635442,957309,497378,459931
PUNJAB,27743338,14639465,13103873,18707137,10436056,8271081
RAJASTHAN,68548437,35550997,32997440,38275282,23688412,14586870
SIKKIM,610577,323070,287507,444952,251269,193683
TAMIL NADU,72147030,36137975,36009055,51837507,28040491,23797016
TELANGANA,35003674,17611633,17392041,20696778,11701729,8995049
THE DADRA AND NAGAR HAVELI AND DAMAN AND DIU,586956,344061,242895,411636,267164,144472
TRIPURA,3673917,1874376,1799541,2804783,1501369,1303414
UTTAR PRADESH,199812341,104480510,95331831,114397555,68234964,46162591
UTTARAKHAND,10086292,5137773,4948519,6880953,3863708,3017245
WEST BENGAL,91276115,46809027,44467088,61538281,33818810,27719471

In [7]:
literacy_state_df['Literacy rate'] = literacy_state_df['Literate population ']/literacy_state_df['Population'] * 100
literacy_state_df['Male literacy rate'] = literacy_state_df['Male literate population']/literacy_state_df['Male population'] * 100
literacy_state_df['Female literacy rate'] = literacy_state_df['Female literate population ']/literacy_state_df['Female population'] * 100

In [8]:
literacy_state_df

,Population,Male population,Female population,Literate population,Male literate population,Female literate population,Literacy rate,Male literacy rate,Female literacy rate
State,,,,,,,,,
ANDAMAN AND NICOBAR ISLANDS,380581,202871,177710,294281,164377,129904,77.324144,81.025381,73.098869
ANDHRA PRADESH,49577103,24830513,24746590,29859982,16549514,13310468,60.229380,66.649908,53.787079
ARUNACHAL PRADESH,1383727,713912,669815,766005,439868,326137,55.358102,61.613756,48.690609
ASSAM,31205576,15939443,15266133,19177977,10568639,8609338,61.456892,66.304946,56.395015
BIHAR,104099452,54278157,49821295,52504553,31608023,20896530,50.436916,58.233412,41.942968
CHANDIGARH,1055450,580663,474787,805438,465346,340092,76.312284,80.140460,71.630436
CHHATTISGARH,25545198,12832895,12712303,15379922,8807893,6572029,60.206705,68.635277,51.698178
DELHI,16787941,8987326,7800615,12737767,7194856,5542911,75.874504,80.055580,71.057359
GOA,1458545,739140,719405,1165487,615823,549664,79.907511,83.316151,76.405363
GUJARAT,60443083,31492973,28950110,41095674,23476246,17619428,67.990698,74.544394,60.861351
HARYANA,25351462,13494734,11856728,16598988,9794067,6804921,65.475466,72.576955,57.392908
HIMACHAL PRADESH,6864602,3481873,3382729,5039736,2752590,2287146,73.416288,79.054865,67.612451
JAMMU AND KASHMIR,12267013,6483906,5783107,6887227,4145536,2741691,56.144287,63.935782,47.408616
JHARKHAND,32988134,16930315,16057819,18328069,10882519,7445550,55.559581,64.278302,46.367131
KARNATAKA,61095297,30966657,30128640,40647322,22508471,18138851,66.531016,72.686151,60.204679
KERALA,33406061,16027412,17378649,28135824,13704903,14430921,84.223710,85.509145,83.038221
LADAKH,274289,156756,117533,180006,119135,60871,65.626401,76.000281,51.790561
LAKSHADWEEP,64473,33123,31350,52553,28023,24530,81.511641,84.602844,78.245614
MADHYA PRADESH,72641665,37620144,35021521,42861652,25180344,17681308,59.004226,66.933141,50.486979
MAHARASHTRA,112374333,58243056,54131277,81554290,45257584,36296706,72.573770,77.704686,67.053112
MANIPUR,2855794,1438586,1417208,1908476,1039858,868618,66.828210,72.283339,61.290791
MEGHALAYA,2966889,1491832,1475057,1785005,913879,871126,60.164199,61.258841,59.057108
MIZORAM,1097206,555339,541867,848175,438529,409646,77.303168,78.966001,75.598994
NAGALAND,1978502,1024649,953853,1342434,723957,618477,67.851031,70.654146,64.839865
ODISHA,41980846,21215646,20765200,26747327,15092454,11654873,63.713168,71.138319,56.126948
PUDUCHERRY,1247953,612511,635442,957309,497378,459931,76.710341,81.203113,72.379698
PUNJAB,27743338,14639465,13103873,18707137,10436056,8271081,67.429294,71.287141,63.119362
RAJASTHAN,68548437,35550997,32997440,38275282,23688412,14586870,55.836841,66.632202,44.206066
SIKKIM,610577,323070,287507,444952,251269,193683,72.874019,77.775405,67.366360
TAMIL NADU,72147030,36137975,36009055,51837507,28040491,23797016,71.849814,77.592867,66.086200
TELANGANA,35003674,17611633,17392041,20696778,11701729,8995049,59.127445,66.443180,51.719341
THE DADRA AND NAGAR HAVELI AND DAMAN AND DIU,586956,344061,242895,411636,267164,144472,70.130640,77.650184,59.479199
TRIPURA,3673917,1874376,1799541,2804783,1501369,1303414,76.343124,80.099671,72.430359
UTTAR PRADESH,199812341,104480510,95331831,114397555,68234964,46162591,57.252497,65.308797,48.423061
UTTARAKHAND,10086292,5137773,4948519,6880953,3863708,3017245,68.220839,75.201999,60.972687
WEST BENGAL,91276115,46809027,44467088,61538281,33818810,27719471,67.419917,72.248479,62.337050

In [9]:
literacy_district_df = census_df.groupby('District')[['Population', 'Male population', 'Female population', 'Literate population ', 'Male literate population', 'Female literate population ']].sum()

In [10]:
literacy_district_df

,Population,Male population,Female population,Literate population,Male literate population,Female literate population
District,,,,,,
24 PARAGANAS NORTH,10009781,5119389,4890392,7608693,4056046,3552647
24 PARAGANAS SOUTH,8161961,4173778,3988183,5531657,3043277,2488380
ADILABAD,708972,356407,352565,394491,228689,165802
AGAR MALWA,571278,293052,278226,311038,191286,119752
AGRA,4418797,2364953,2053844,2680510,1614594,1065916
...,...,...,...,...,...,...
YADGIR,1174271,590329,583942,510003,306751,203252
YAMUNANAGAR,1214205,646718,567487,832457,474793,357664
YANAM,55626,27301,28325,39274,19919,19355
YAVATMAL,2772348,1419965,1352383,2022574,1115980,906594
ZUNHEBOTO,140757,71217,69540,102881,53504,49377

In [11]:
literacy_district_df['Literacy rate'] = literacy_district_df['Literate population ']/literacy_district_df['Population'] * 100
literacy_district_df['Male literacy rate'] = literacy_district_df['Male literate population']/literacy_district_df['Male population'] * 100
literacy_district_df['Female literacy rate'] = literacy_district_df['Female literate population ']/literacy_district_df['Female population'] * 100

In [12]:
literacy_district_df

,Population,Male population,Female population,Literate population,Male literate population,Female literate population,Literacy rate,Male literacy rate,Female literacy rate
District,,,,,,,,,
24 PARAGANAS NORTH,10009781,5119389,4890392,7608693,4056046,3552647,76.012582,79.229103,72.645444
24 PARAGANAS SOUTH,8161961,4173778,3988183,5531657,3043277,2488380,67.773627,72.914204,62.393827
ADILABAD,708972,356407,352565,394491,228689,165802,55.642677,64.165126,47.027357
AGAR MALWA,571278,293052,278226,311038,191286,119752,54.445997,65.273740,43.041269
AGRA,4418797,2364953,2053844,2680510,1614594,1065916,60.661533,68.271716,51.898586
...,...,...,...,...,...,...,...,...,...
YADGIR,1174271,590329,583942,510003,306751,203252,43.431457,51.962719,34.806882
YAMUNANAGAR,1214205,646718,567487,832457,474793,357664,68.559840,73.415770,63.025937
YANAM,55626,27301,28325,39274,19919,19355,70.603675,72.960697,68.331862
YAVATMAL,2772348,1419965,1352383,2022574,1115980,906594,72.955271,78.592078,67.036779
ZUNHEBOTO,140757,71217,69540,102881,53504,49377,73.091214,75.128130,71.005177

In [13]:
# State/Union Territory with highest Literacy Rate for Male population
literacy_state_df['Male literacy rate'].idxmax()

'KERALA'

In [14]:
# State/Union Territory with highest Literacy Rate for Female population
literacy_state_df['Female literacy rate'].idxmax()

'KERALA'

In [15]:
# # State/Union Territory with highest Literacy Rate for Total population
literacy_state_df['Literacy rate'].idxmax()

'KERALA'

In [16]:
# District with highest Literacy Rate for Male population
literacy_district_df['Male literacy rate'].idxmax()

'KOTTAYAM'

In [17]:
# District with highest Literacy Rate for Female population
literacy_district_df['Female literacy rate'].idxmax()

'PATHANAMTHITTA'

In [18]:
# District with highest Literacy Rate for Total population
literacy_state_df['Literacy rate'].idxmax()

'KERALA'